/* Style Body */
body{
    background: #353535;
}
/* Style Class Container */
.container{
    margin: auto;
    /* margin-top: 50%; */
    width: 50%;
    padding: 10px;
    padding-left: 35%;
}
/* Style Class Ellipse */
.ellipse{
    background-color: #284b63;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
    animation: ellipse_effect 1s linear infinite alternate;
}
/* Style animation ellipse effect */
@keyframes ellipse_effect{
    0%{
        background-color: #284b63;
        transform: translate(0,0);
    }
    50%{
        background-color: #d9d9d9;
    }
    100%{
        background-color: #3c6e71;
        transform: translate(200px,0);
    }
}
/* Style Ellipe Before */
.ellipse::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3c6e71;
    content: '';
    border-radius: 50%;
    left: 200px;
    animation: before_effect 1s linear infinite alternate;
}
/* Style animation Before Effect */
@keyframes before_effect{
    0%{
        background-color: #3c6e71;
        transform: translate(0,0);
    }
    50%{
        background-color: #d9d9d9;
    }
    100%{
        background-color: #284b63;
        transform: translate(-400px)
    }
}
/* Style Ellipse nth-child + Ellipse::Before nth- child */
.ellipse:nth-child(2),
.ellipse:nth-child(2)::before{
    animation-delay: .2s;
}
.ellipse:nth-child(3),
.ellipse:nth-child(3)::before{
    animation-delay: .4s;
}
.ellipse:nth-child(4),
.ellipse:nth-child(4)::before{
    animation-delay: .6s;
}
.ellipse:nth-child(5),
.ellipse:nth-child(5)::before{
    animation-delay: .8s;
}
.ellipse:nth-child(6),
.ellipse:nth-child(6)::before{
    animation-delay: 1s;
}
.ellipse:nth-child(7),
.ellipse:nth-child(7)::before{
    animation-delay: 1.2s;
}
.ellipse:nth-child(8),
.ellipse:nth-child(8)::before{
    animation-delay: 1.4s;
}
.ellipse:nth-child(9),
.ellipse:nth-child(9)::before{
    animation-delay: 1.6s;
}
.ellipse:nth-child(10),
.ellipse:nth-child(10)::before{
    animation-delay: 1.8s;
}
.ellipse:nth-child(11),
.ellipse:nth-child(11)::before{
    animation-delay: 2s;
}
.ellipse:nth-child(12),
.ellipse:nth-child(12)::before{
    animation-delay: 2.2s
}